<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">
    <test name="Test">
        <classes>
            <class name="person.TestPerson2"/>
            <class name="Task.TestTask1"/>
            <class name="Task.TestTask2"/>
            <class name="Task.TestTask5"/>
        </classes>
    </test>

</suite>